@use "/app/styles/animate.scss" as *;
@use "/app/styles/color.scss" as *;
@use "/app/styles/sizes.scss" as *;

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.644);
    display: flex;
    flex-direction: column;
    z-index: 999;
    align-items: center;
    justify-content: center;

    &__block {
        animation: scale 0.4s ease;
        position: relative;
        width: 100vw;
        max-width: 1440px;
        height: 100vh;
        display: flex;
        align-items: center;
    }
    &__box {
        position: absolute;
        top: 2%;
        right: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        @media (max-width: 768px) {
            right: 7%;
        }
        &_count {
        }
        &_close {
            border: none;
            padding: 0;
        }
    }
    &__cont {
        width: 100%;
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 1500px;
        &_arrow {
            z-index: 999;
            position: absolute;
            height: 100%;
            opacity: 1;
            padding: 40px;
            border: none;
            transition: opacity 0.2s ease;
            &:hover {
                opacity: 1;
            }
        }
        &_left {
            left: 0;
            @media (max-width: 768px) {
                left: 0;
            }
        }
        &_right {
            right: 20px;
            @media (max-width: 768px) {
                right: 0;
            }
        }

        &_image {
            cursor: pointer;
            width: 100%;
            max-width: 1440px;
            height: auto;
            max-height: 85vh;
            object-fit: contain;
            transition: all 0.2s ease;
        }
    }
}
