.footer {
    min-height: 100px;
    width: 100%;
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    padding:0 25px ;
    // background: rgb(245, 245, 245);
    margin: 0 auto;

    
}
