@use "/app/styles/animate.scss" as *;
@use "/app/styles/color.scss" as *;
@use "/app/styles/sizes.scss" as *;

.section {
    width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
}
