.box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    &__saveBtn {
        align-self: center;
        
        &:disabled {
            border-color: #ffffff60;
            color: #ffffff60;
            cursor: not-allowed;
        }
    }
    &__published {
        background: rgb(0, 141, 141);
    }
    &__draft {
        background: rgb(129, 26, 0);
    }
    &__deleteBtn{
        background: rgb(230, 46, 0);

    }
}
