@use "/app/styles/animate.scss" as *;
@use "/app/styles/color.scss" as *;
@use "/app/styles/sizes.scss" as *;

.confirmation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 60px 60px;
    background: $BG_MAIN;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.5);

    &__text {
        font-size: $size_text;
    }

    &__box {
        display: flex;
        gap: 20px;
    }
}
.loader {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}
