@use "/app/styles/color.scss" as *;
@use "/app/styles/animate.scss" as *;

@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap");

*,
html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    margin: 0 auto;
    width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    display: grid;

    grid-template-rows: 100px 1fr 100px;
    min-height: 100vh;
    // background: #305478;
    background: linear-gradient(142deg, rgba(110,197,238,1) 10%, rgba(26,112,143,1) 64%, rgba(251,164,38,1) 100%);
    animation: gradient 10s infinite linear; // 10s - скорость анимации
    background-size: 300%; // Можно менять и подбирать интенсивность    width: 97%;
    color: $color_text;
    
}
@keyframes gradient {
    0% {
        background-position: 80% 0%;
    }
    50% {
        background-position: 20% 100%;
    }
    100% {
        background-position: 80% 0%;
    }
}
h1,
h2,
h3,
h4 {
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-weight: 300;
    color: $color_f2;
    margin: 0;
}
h1 {
}
a {
    color: inherit;
    text-decoration: none;
}
button {
    background: none;
    border: 2px solid $color_f2;
    cursor: pointer;
    color: $color_f2;
    padding: 10px 15px;
    text-transform: uppercase;
    font-size: 1em;
    
}
/* @media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
} */
