@use "/app/styles/animate.scss" as *;
@use "/app/styles/color.scss" as *;
@use "/app/styles/sizes.scss" as *;

.form {
    width: 100%;
    max-width: 560px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: $BG_MAIN;
    border-radius: 20px;
    box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.2);
    padding: 50px 30px;
    animation: scale 0.3s ease;

    &__title {
        font-size: $size_h2;
        align-self: center;
    }

    &__box {
        display: flex;
        flex-direction: column;
        gap: 5px;

        &_label {
        }

        &_input {
            padding: 8px 10px;
            border-radius: 10px;
            border: none;
            box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.2);
        }
        &_textarea {
            padding: 5px 10px;
            border-radius: 10px;
            resize: vertical;
            min-height: 200px;
            box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.2);
        }
        &_labelimage {
            cursor: pointer;
        }
        &_image {
            border-radius: 10px;
            box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.2);
        }
        &_inputimage {
            opacity: 0;
            position: absolute;
            top: -200px;
        }
    }
    &__block {
        margin: 20px 0 0;
        align-self: center;
        display: flex;
        align-items: center;
        gap: 20px;
    }
}
.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background: $BG_MAIN;
    border-radius: 20px;
    box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.2);
    padding: 50px 30px;
    animation: scale 0.3s ease;

    &__box{
        display: flex;
        gap: 10px;
    }
}
@media (max-width: 760px) {
    .form {
        &__box {
            &_image {
                width: 100%;
                height: 260px;
            }
        }
    }
}
