@use "/app/styles/animate.scss" as *;

.section {
    scroll-behavior: smooth;
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    animation: down 0.8s ease;

    &__modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.644);
        display: flex;
        flex-direction: column;
        z-index: 2;
        align-items: center;
        justify-content: center;

        &_close {
            animation: down 0.8s ease;
            color: white;
            position: absolute;
            top: 2em;
            right: 3em;
        }

        &_image {
            animation: down 0.8s ease;
            width: 90vw;
            max-width: 1440px;
            height: auto;
            max-height: 90vh;
            object-fit: contain;
        }
    }

    
}
