.card{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
    &__text{

    }

    &__box{
        display: flex;
        flex-direction: column;
        gap: 10px;

        &_label{

        }

        &_input{
            padding: 3px 5px;
        }
        &_textarea{
            width: 350px;
            min-height:120px ;
            padding: 3px 5px;
            resize: vertical;
        }
    }
}
.savebtn{

    &:disabled{
        border-color: #ffffff60;
        color: #ffffff60;
        cursor:not-allowed;
    }
}