@use "/app/styles/color.scss" as *;
@use "/app/styles/animate.scss" as *;

.box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px 15px;

    &__image {
        z-index: 1;
        transition: all 0.3s ease;
        cursor: pointer;
        object-fit: cover;
        &:hover {
            transform: scale(1.03);
        }
    }
}
.block {
    max-width: 23%;
    min-width: 300px;
    max-height: 25vh;
}
.cont {
    overflow: hidden;
    height: 100%;
}
